!/app/Http/Controllers/Landlord
!/app/Http/Controllers/Auth
!/resources/views/landlord
!/database/migrations/landlord


/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode



# git rm -r --cached app/Http/Controllers && git add -f app/Http/Controllers/Landlord && git add -f app/Http/Controllers/Auth
# git rm -r --cached database/migrations && git add -f database/migrations/landlord
# git rm -r --cached resources/views && git add -f resources/views/landlord


# git commit -m "Controller Migration files"
# git push origin main
